#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#calculator {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white; /* Text color */
  line-height: 2.5; /* Adjust this value to increase or decrease line height */
}